@page
@model IndexModel
@{
    ViewData["Title"] = "ChefBook";
}

<meta name="Author" content="Samer Khamisi">
<meta name="File" content="CookBook.html">
<meta name="Date" content="March 7, 2021">
<link rel='stylesheet' href='~/css/site.css'>

<center>
    <div id="heading">Welcome to ChefBook</div>
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="search">
    <div id="searchheading">Let's get cooking!</div>
    <input id="searchbar" type="text" placeholder="Search.."><br />
    <input id="submit" type="submit" value="submit" />
</div>

<div id="myData">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/Site.js"></script>

