@page
@model RecipeResultsModel
@{
    ViewData["Title"] = "ChefBook";
}

<link rel='stylesheet' href='~/css/site.css'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/Results.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Recipe Results</title>
</head>

<header>
    <div class='headers-title-container-flex-row container'>
        <h1>Results</h1>
    </div>
</header>
<br />
<center>
<div class='main-container-flex-column'>
    <div class='container-flex cardContainer'>
    </div>
</div>
</center>