.headers-title-container-flex-row {
    display: flex;
    justify-content: center;
    border: solid 1px #808080;
    color: antiquewhite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.main-container-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: antiquewhite;
    justify-content: flex-start;
    min-height: 80%;
}

.card {
    min-width: fit-content !important;
}

.recipe-header {
    background: none !important;
    color: none !important;
    fill: none !important;
    fill-opacity: inherit !important;
}

#heading {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    letter-spacing: .5em;
    font-size: 40pt;
    font-family: sans-serif;
    font-weight: 500;
    color: antiquewhite;
    border: solid 1px #808080;
    padding: 60px;
    text-transform: uppercase;
    text-decoration-line: overline underline;
}

body {
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: space-between
}

.info {
    text-align: left;
    font-size: 15pt;
}
.container-fluid {
    display:flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#searchheading {
    font-family: sans-serif;
    color: antiquewhite;
    font-size: 25pt;
    font-style: italic;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#searchbar {
    border: 1px solid grey;
    border-radius: 15px;
    border: 1px solid #ffffff;
    height: 30px;
    width: 500px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    color: black;
    font-size: 15pt;
    min-width: 100px;
    outline: none;
}

#searchbar:hover {
    border: 1px solid #808080;
}

#searchbar:focus {
    box-shadow: 0 0 8px #0fe1f6;
}

#submit {
    margin-top: 10px;
    font-family: sans-serif;
    width: 110px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: black;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #808080;
}

#submit:hover {
    border: 1px solid #808080;
    background-color: #e1e1e1
}

.sourceURL {
    color: white;
}

.name {
    color: antiquewhite;
    font-size: 18pt;
    text-transform: uppercase;
    text-decoration: underline;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.home-controls {
    background: #222;
    color: antiquewhite;
    font-size: 20pt !important;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;

}
